@import "tailwindcss";

*{
    scroll-behavior: smooth;
}

@layer utilities{
    .box-shadow{
        box-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.203)
    }
    .product-box-shadow{
        box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.203)
    }
    .text-shadow{
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.662);
    }
    .clip-custom-men {
        clip-path: polygon(0 0, 65% 0, 100% 100%, 0% 100%);
    }
    .clip-custom-women{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 35% 100%);
    }
}

.products-category-basic-style{
    @apply cursor-pointer before:transition-all before:duration-500 before:absolute before:ease-in-out before:bg-black before:opacity-0 before:h-full before:w-full before:top-0 before:left-0 hover:before:opacity-40 before:z-30 overflow-hidden
}
.product-category-image-style{
    @apply h-full w-full group-hover:scale-x-105 group-hover:z-10 group-hover:scale-y-105 transition-all duration-1000
}
.product-category-h1-style{
    @apply absolute top-[50%] left-[50%] z-30 -translate-x-[50%] -translate-y-[50%] text-white font-bold uppercase
}

/* Target the scrollbar inside a specific div */
.custom-scrollbar{
    scroll-snap-type:x mandatory;
}
.custom-product{
    scroll-snap-align: start;
}
.custom-scrollbar::-webkit-scrollbar {
    height: 0.25rem;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background: #e5e7eb; /* Tailwind gray-200 */
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

.opacityAnimation{
    animation: opacityAnimation 0.5s  ease-in-out forwards;
    -webkit-animation: opacityAnimation 1s  ease-in-out forwards;
}

@keyframes opacityAnimation {
    0%{
        transform: translateY(10px);
        opacity: 0;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        -ms-transform: translateY(10px);
        -o-transform: translateY(10px);
}
    100%{
        transform: translateY(0);
        opacity: 1;
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}